body {
    background-color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif
}
  
h1 {
    padding-left: 25px;
    color: rgb(3, 3, 59);
    font-weight: bold;
}

h5 {
    padding-bottom: 5px;
    text-align: center;
    text-indent: -110px;
    color:  rgb(3, 3, 59);
    font-weight: bold;
}

.center {
    margin: auto;
    background: whitesmoke;
    width: 66%;
  }

.container {
    display: flex;
    flex-wrap: wrap;
}

.container .image {
    border: 3px solid whitesmoke;
    width: 50%;
}

.container .image:hover {
    border: 3px solid  rgb(3, 3, 59);
    width: 50%;
}

.container img {
width: calc(100% - (20px * 2));
margin: 20px;
}

p {
    padding-left: 20px;
    padding-right: 20px;
    line-height: 2;
}

#parasize{
    font-size: 20px;
}

.clearfix::after{
    content: "";
        display: block;
    clear: both;
}

.jumbotron {
    background-color: whitesmoke;
}

.row {
    padding-top: 50px;
    padding-left: 100px;
}

.navbar-brand {
    display: inline-block;
    padding: 20px;
    cursor: pointer;
}
#hcolour{
    font-weight: bold;
    color: whitesmoke;
}
#padimg {
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.maxwidth {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    max-width: 1280px;
    background-color: whitesmoke;
}

/* Adding media queries to show the drop-down, and hide the navbar when the screen is smaller than 990 pixels */
@media (max-width: 990px) {
    .navbar li {
      padding: 10px;
    }
  
    .post {
      padding-left: 50px;
      padding-right: 50px;
    }
  
    .navbar ul {
      visibility: hidden;
    }
  
    #nav-select {
      visibility: visible;
    }
  }